flask
python-dotenv
openai
langchain
langchain-openai
pypdf
unstructured
unstructured[pdf]
pymupdf
faiss-cpu
pdf2image
pdfminer
pdfminer.six
opencv-python
psycopg2
redis
supabase
langgraph
langsmith
langchain-community
libmagic
python-magic
python-magic-bin
google_auth_oauthlib
google-auth 
google-auth-httplib2 
google-api-python-client
graphrag
quart